#trainer-image {
    width: 140px;
    height: 140px;
    background-color: aquamarine;
    margin-top: 0px;
}

.img-thumbnail {
    width: 250px;
    height: 250px;
}

.thumbnail {
    padding: 0;
    align-items: center;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}